input, textarea {
  font-family: var(--primary-font-family);
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,0.12);
  background-color: transparent;
  padding: 8px 0;
  margin-bottom: 0.5em;
  transition: border-color 0.3s linear;
}

textarea {
  resize: none;
  min-height: 10em;
}

input:focus, textarea:focus {
  outline: none;
  border-bottom: 2px solid var(--text-decoration-color);
}
